.container
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    width: 450px;
    max-width: 95%;
    border: none;
    border-radius: 12px;
}

.card-body
{
    color: #222;
    padding: 35px 40px;
}

.form-group
{
    margin-bottom: 15px;
}

.form-control
{
    width: 100%;
    height: 45px;
}

table
{
    width: 100% !important;
}

.form-button button
{
    height: 45px;
    margin-top: 5px;
}

@media screen and (max-width: 600px)
{
    .card
    {
        width: 95%;
    }

    .card-body
    {
        padding: 25px 20px;
    }
}
